

  <header style="background-color: black" class="header" id="header">
    <!--header-start-->
    <div class="container">
      <figure class="logo animated fadeInDown delay-07s">
        <a href="#"><img src="https://i.imgur.com/gIXBM4M.png" alt=""></a>
      </figure>
      <h1 class="animated fadeInDown delay-07s">Welcome to Mangoose</h1>
      <ul class="we-create animated fadeInUp delay-1s">
        <li>We sell mangos!</li>
      </ul>
      <a class="link animated fadeInUp delay-1s servicelink" href=“https://slack.com/oauth/authorize?client_id=2180965064.374112732881&scope=incoming-webhook,channels:history,bot,links:read,commands“>
        Add to Slack
      </a>
    </div>
  </header>